
/* POLICE DE CARACTERE */
@import url(https://fonts.googleapis.com/css2?family=Raleway);


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 15px;
}